<div class="login">
    <div class="form">
      <div class="row"  *ngIf="flag && !showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>User Already Exists!</strong> 

          </p>
        </div>
      </div>
      <div class="row"  *ngIf="showMsg && !flag">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Registration Success!</strong> 

          </p>
        </div>
      </div>


    <div>   <label id="repeatpassmsglbl" style="color: red;">{{passwordMatch}}</label>
</div>

      
        <h1>Sign Up</h1>
        
      <form class="login-form" [formGroup]="form" (ngSubmit)="signUp()">
        <!-- <span class="material-icons">lock</span> -->
        <div>
            <!-- <label for="email">Email</label> -->
            <input type="text" class="form-control"  id="form3Example1cg" placeholder="Enter Full Name" [(ngModel)]="signupUser.fname" name="fname" formControlName="fname" placeholder="Your Name"  required >
            <small class="error text-danger" *ngIf="form.get('fname').invalid && form.get('fname').touched">Full Name Required</small>
          </div>
          <div>
            <!-- <label for="email">Email</label> -->
            <input type="email" class="form-control" placeholder="Enter Email ID" formControlName="emailid" [(ngModel)]="signupUser.emailid" name="emailid" >
            <small class="error text-danger" *ngIf="form.get('emailid').invalid && form.get('emailid').touched">Email Required</small>
          </div>
        <div>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" [(ngModel)]="signupUser.password" name="password" />
            <!-- <small>password length<br> must be above<br>6 charecters</small> -->
            <small class="error text-danger" *ngIf="form.get('password').invalid && form.get('password').touched">Password Required</small>
          </div>
        <!-- <div>
            <input type="password" class="form-control" [(ngModel)]="RegisterForm.cnfPassword"  name="cnfpassword" #cnfpwd="ngModel" [class.is-invalid]="cnfpwd.invalid && cnfpwd.touched" required minlength="6" maxlength="12"/>
            <small class="text-danger" [class.d-none] = "cnfpwd.valid || cnfpwd.touched" >Please Confirm Password</small>
        </div> -->
        <button type="submit" class="btn" [disabled]="!form.valid">Sign Up</button><br>
       <p>Click <strong><a routerLink="/login">here</a> </strong> to login</p>
      </form>  
    </div>
  </div>
