<div class="login">
    <div class="form">
        <h1>Sign Up</h1>
      <form class="login-form" [formGroup]="form" (ngSubmit)="registerVerify()">
        <!-- <span class="material-icons">lock</span> -->
        <div>
            <!-- <label for="email">Email</label> -->
            <input type="text" class="form-control"  id="form3Example1cg"  name="fname" formControlName="fname" placeholder="Your Name"  required >
            <small class="error text-danger" *ngIf="form.get('fname').invalid && form.get('fname').touched">Full Name Required</small>
          </div>
          <div>
            <!-- <label for="email">Email</label> -->
            <input type="email" class="form-control"  formControlName="emailid" >
            <small class="error text-danger" *ngIf="form.get('emailid').invalid && form.get('emailid').touched">Email Required</small>
          </div>
        <div>
            <input type="password" class="form-control" formControlName="password" />
            <!-- <small>password length<br> must be above<br>6 charecters</small> -->
            <small class="error text-danger" *ngIf="form.get('password').invalid && form.get('password').touched">Password Required</small>
          </div>
        <!-- <div>
            <input type="password" class="form-control" [(ngModel)]="RegisterForm.cnfPassword"  name="cnfpassword" #cnfpwd="ngModel" [class.is-invalid]="cnfpwd.invalid && cnfpwd.touched" required minlength="6" maxlength="12"/>
            <small class="text-danger" [class.d-none] = "cnfpwd.valid || cnfpwd.touched" >Please Confirm Password</small>
        </div> -->
        <button [disabled]="form.invalid">login</button>
      </form>  
    </div>
  </div>