<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
       <div class="section-title">
          <h2>TEMPLATES</h2>
          <p>Choose best template for your resume</p>
       </div>
       <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <!-- <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li> -->
          <li data-filter=".filter-web">CHOOSE ONE</li>
       </ul>
       <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
             <div class="col-lg-4 col-md-6 portfolio-item filter-app  container">
           
                <div class="portfolio-img"><img src="assets/img/temp11.PNG" style="height:505px;" class="img-fluid" alt=""></div>
                <div class="portfolio-info ">
                    <h4>Template 1</h4>
                    <a  data-gallery="portfolioGallery"  class="preview-link btn" [routerLink]="['/_temp1']" 
                    title="Choose"  ><i class="bx bxs-hand-up">Choose</i></a> 
                </div>
            </div>
         
          <div class="col-lg-4 col-md-6 portfolio-item filter-app  container">
               <div class="portfolio-img">
                  <img src="assets/img/temp2.png" class="img-fluid" alt="">
               
               
               </div>

               <div class="portfolio-info">
                  <h4>Template 2</h4>
                  <a  data-gallery="portfolioGallery"   class="preview-link btn" [routerLink]="['/_temp2']" 
                  title="Choose" ><i class="bx bxs-hand-up">Choose</i></a> 
               </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app  container">
                  <div class="portfolio-img"><img src="assets/img/temp3.png" class="img-fluid" alt=""></div>
                  <div class="portfolio-info">
                     <h4>Template 3</h4>
                     <a  data-gallery="portfolioGallery" class="preview-link btn" [routerLink]="['/_temp3']" 
                      title="Choose"><i class="bx bxs-hand-up">Choose</i></a> 
                  </div>
            </div>
       </div>
    </div>
 </section>
