<form [formGroup]="childForm2">
    <h4>
        Work Experience {{arrayIndex+1}}
    </h4>
        <div class="container">
            <div class="row">
              <div class="col-md">
               
                <mat-form-field appearance="fill">
                  <mat-label>Job Profile</mat-label>
                  <input type="text" matInput placeholder="Job Profile" formControlName="jobProfile"  required>
                </mat-form-field><br>
                <mat-form-field appearance="fill">
                  <mat-label>Start Date</mat-label>
                  <input type="date" matInput placeholder="Start Date" formControlName="startDate"  required>             
                </mat-form-field><br>
              </div>
              <div class="col-md">
                <mat-form-field appearance="fill">
                  <mat-label>Company Name</mat-label>
                  <input type="text" matInput placeholder="Company Name" formControlName="companyName"  required>              
                </mat-form-field><br>
               
                
                <mat-form-field appearance="fill">
                  <mat-label>End Date</mat-label>
                  <input type="date" matInput placeholder="End Date" formControlName="endDate"  required>             
                </mat-form-field><br>
                
              </div>
              <div class="col-md">
              
                <mat-form-field appearance="fill">
                  <mat-label>Job Description</mat-label>
                  <textarea name="" id=""  rows="10" matInput placeholder="Job Description" formControlName="jobDescription" required></textarea>
                <!-- <span class="error text-danger" *ngIf="companyForm.('email').invalid">Email is invalid</span> -->
        
                </mat-form-field><br>
                
                <button *ngIf="totalWorkExperience>1" (click)="deleteWorkExperience(arrayIndex)" class="btn btn-danger "  >Remove</button>
    
        
              </div>
            </div>
          </div> 
          
    </form>
    
    
    
