

<section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Build Your Future With Best Resume</h1>
          <h2>A Quick and Easy Way to Create Your Professional Resume. All of the templates can be customized to your liking. Fast and Easy to Use Our resume builder lets you easily and quickly create a resume using our resume wizard.</h2>
          <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  
  </section>
  <main id="main">
    <section id="about" class="about">
       <div class="container" data-aos="fade-up" data-aos-delay="300">
          <div class="section-title">
             <h2>About Us</h2>
          </div>
          <div class="row content">
             <div class="col-lg-6">
               <img src="assets/img/image1.jpg" class="img-fluid animated" alt="" style="width:350px;height:300px" >
             </div>
             <div class="col-lg-6 pt-5 pt-lg-0">
              <br><br>
              <h3>This is your ultimate career toolbox.
                Use it to fix your career.
  
              </h3>
                <p> With a resume builder, you don't have to worry about the nitty gritty of resume creation, like font selection, layout, formatting, etc. All you have to do is pick a resume template, fill it in, and then you're ready to start applying for jobs!</p>
                <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
             </div>
          </div>
       </div>
    </section>

    <section id="cta" class="cta">
       <div class="container" data-aos="zoom-in">
          <div class="row">
             <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             </div>
             <div class="col-lg-3 cta-btn-container text-center"> <a class="cta-btn align-middle" href="#">Call To Action</a></div>
          </div>
       </div>
    </section>
    <section id="portfolio" class="portfolio">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>TEMPLATES</h2>
             <p>Choose best template for your resume</p>
          </div>
          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
             <!-- <li data-filter="*" class="filter-active">All</li>
             <li data-filter=".filter-app">App</li>
             <li data-filter=".filter-card">Card</li> -->
             <li data-filter=".filter-web">CHOOSE ONE</li>
          </ul>
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
             <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="assets/img/temp1.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                   <h4>Template 1</h4>
                   <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                     Preview
                    </button> -->
                   <a href="assets/img/temp1.png" data-gallery="portfolioGallery" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="portfolio-lightbox preview-link" title="PREVIEW"><i class="bx bx-plus">PREVIEW</i></a> 
                </div>
             </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img"><img src="assets/img/temp2.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                 <h4>Template 2</h4>
                 <a href="assets/img/temp2.png" data-gallery="portfolioGallery" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="portfolio-lightbox preview-link" title="PREVIEW" ><i class="bx bx-plus">PREVIEW</i></a> 
               </div>
           </div>
           <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/temp3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
               <h4>Template 3</h4>
               <a href="assets/img/temp3.png" data-gallery="portfolioGallery" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="portfolio-lightbox preview-link" title="PREVIEW"><i class="bx bx-plus">PREVIEW</i></a> 
            </div>
         </div>
          </div>
       </div>
    </section>


    
    <section id="team" class="team section-bg">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>Build Your Resume Fast and Easy.
            </h2>
          </div>
          <div class="row">
             <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                   <div class="pic"><img src="assets/img/step1.PNG"  style="width:280px;height:150px"class="img-fluid" alt=""></div>
                   <div class="member-info">
                      <h2>Step-by-step builder</h2><br>
                     
                      <h2><p>Easy to use step-by-step builder enables you to create a well-polished, professional CV in minutes. Impress. Save time.</p></h2>
                      <!-- <div class="social"> <a href=""><i class="ri-twitter-fill"></i></a> <a href=""><i class="ri-facebook-fill"></i></a> <a href=""><i class="ri-instagram-fill"></i></a> <a href=""> <i class="ri-linkedin-box-fill"></i> </a></div> -->
                   </div>
                </div>
             </div>
             <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                   <div class="pic"><img src="assets/img/step2.PNG"  style="width:280px;height:150px"class="img-fluid" alt=""></div>
                   <div class="member-info">
                    <h2>Select Your Template</h2><br>
                     
                    <h2><p>It's just simple to choose a template!Make your CV more sophisticated. Just click and insert them directly into your CV!</p></h2>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                   <div class="pic"><img src="assets/img/step3.PNG" class="img-fluid" alt=""></div>
                   <div class="member-info"><br>
                    <h2>Customize Your Resume</h2><br>
                     
                    <h2><p>Just select your saved resumes and update it when ever you want. </p></h2>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                   <div class="pic"><img src="assets/img/step4.PNG" style="width:280px;height:150px" class="img-fluid" alt=""></div><br>
                   <div class="member-info">
                    <h2>Unlimited CVs & Downloads</h2><br>
                     
                    <h2><p>No limit on the number of CVs you can create. Unlimited printing, sharing and downloading in PDF, Word, plain text or image formats. Limitless creativity.</p></h2>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    
    
    
  </main>

  <!-- Modal for temp1 -->
 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="portfolio-img"><img src="assets/img/temp1.png" class="img-fluid" alt=""></div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal for temp2 -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="portfolio-img"><img src="assets/img/temp2.png" class="img-fluid" alt=""></div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal for temp3-->
 <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="portfolio-img"><img src="assets/img/temp3.png" class="img-fluid" alt=""></div>
       </div>
     </div>
   </div>
 </div>


 