/* .navbar{
    color: yellow;
    
} */
.menu{
    
    margin-left:auto;
    text-align: right;
    margin-top: 3em;
   padding-right: 3em;
   margin-right: 30px;
background: white;
width: 20em;
height: 14em;
box-sizing: border-box;
border-radius: 10%;
border: 1px solid black;
   
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#avatar{
/* margin-top: 3em; */
margin-left: 5px;
position: relative;

}


.heading h3{

padding-right: 7em;
}
.heading h5{
    padding-right: 1em;
}
.menu .Links1{
    /* margin-top: 2em; */
    /* padding-top: 2em; */
    border-top: 2px solid rgba(0,0,0,0.05);

}
.menu .Links1 li{
    margin-top: 20px;

 
}
.menu .Links1 li:hover{
background: whitesmoke;
}

.menu .Links1 li a {
 text-decoration: none;
 color: black;
 margin-right: 6em;

}
.menu .Links1 li a i{
font-size: 20px;
}
.links_name{
    padding-left: 15px;
    font-size: large;
    font-weight: 200;
}