<div class="login">
    <div class="form">
      <form class="login-form" #userlogin = "ngForm" (ngSubmit)="userVerify()">
        <span class="material-icons">lock</span>
        <div>
            <!-- <label for="email">Email</label> -->
            <input type="text" class="form-control"  [(ngModel)]="User.username" name="uname" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <small class="text-danger" [class.d-none] = "email.valid || email.touched">Enter valid Email</small>
        </div>
        <div>
            <input type="password" class="form-control" [(ngModel)]="User.password"  name="password" #pwd="ngModel" [class.is-invalid]="pwd.invalid && pwd.touched" required/>
            <small class="text-danger" [class.d-none] = "pwd.valid || pwd.touched">Enter a Valid Password</small>
        </div>
        <button [disabled]="userlogin.form.invalid">login</button>
      </form>  
    </div>
  </div>