<div class="login">
    <div class="form">
      <form class="login-form" [formGroup]="form" (ngSubmit)="userVerify()">
        <span class="material-icons">lock</span>
        
        <div>
          <input type="text" class="form-control" formControlName="username"  name="username" required/>
          <small class="error text-danger" *ngIf="form.get('username').invalid && form.get('username').touched">Username Required</small>
      </div>
        <div>
            <input type="password" class="form-control" formControlName="password"  name="password" required/>
            <small class="error text-danger" *ngIf="form.get('password').invalid && form.get('password').touched">Password Required</small>
        </div>
        <button [disabled]="form.invalid">login</button>
      </form>  
    </div>
  </div>