<nav id="header" class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <h1 class="logo me-auto"><a href="#">RESUME BUILDER</a></h1>
        <ul>
            <li><a class="nav-link scrollto active" href="">HOME</a></li>
            <li><a class="nav-link scrollto"  class="btn" (click)="openModal()" >LOGIN</a></li>
            <li><a class="nav-link scrollto"  class="btn" (click)="openModalSignUp()" >SIGNUP</a></li>
            <!-- <li><a class="nav-link scrollto" href="#portfolio">CREATE RESUME</a></li>
            <li><a class="nav-link scrollto" href="#team">MY RESUMES</a></li> --> <!--activate only in user login--> 
         </ul>
      </div>
    </div>
  </nav>


  <div class="modal fade text-center" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

  

