<nav id="header" class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <h1 class="logo me-auto"><a href="#">RESUME BUILDER</a></h1>
      <div id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link scrollto active" href="">HOME</a></li>
          <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link scrollto active" routerLink="/login"  >LOGIN</a></li>
          <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link scrollto active" routerLink="/signup">SIGNUP</a></li>
          <li  *ngIf="auth.loggedIn()" class="nav-item"><a class="nav-link scrollto active" (click)="logoutUser()"  routerLink="/signup">LOGOUT</a></li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle scrollto" id="navbarDropdown" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
              TEMPLATES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/_temp1">Template 1</a></li>
              <li><a class="dropdown-item" routerLink="/_temp2">Template 2</a></li>
              <li><a class="dropdown-item" routerLink="/_temp3">Template 3</a></li>
              <li><a class="dropdown-item" routerLink="/_temp4">Template 4</a></li>
            </ul>
          </li> -->
          <!-- <li class="nav-item"><a class="nav-link scrollto active" routerLink="/data">CREATE RESUME</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link scrollto active" routerLink="/adminui">Adminui</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#portfolio">CREATE RESUME</a></li>
          <li><a class="nav-link scrollto" href="#team">MY RESUMES</a></li> --> <!--activate only in user login--> 
       </ul>
      </div>
    </div>
  </div>
</nav>



<!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> -->
<br>
<br>
<br>



<div class="modal modal-xl fade text-center" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>



