.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

mat-stepper{
  height: 1000px;
  background-color: rgb(246, 247, 253);
  margin-top: 4em;
  padding-top:6em;

}

#add{
  background-color: rgb(161, 161, 180);
}